# Создайте копию из этго файла и присвойте имя .env
# Замените значения переменных вашими данными

SECRET_KEY=Секретный ключ Django     # Введите секрктный ключ

DEBUG=True/False                       # если хотите включить режим DEBUG установите True

NAME=Назване базы данных
USER=Имя пользователя базы данных
PASSWORD=Пароль для пользователя базы данных
PORT=Порт для работы с базой данных
HOST=Хост