# Создайте копию из этго файла и присвойте имя .env
# Замените значения переменных вашими данными

SECRET_KEY=секретный ключ

DEDUG=True/False

POSTGRES_DB=Назване базы данных
POSTGRES_USER=имя пользователя базы данных
POSTGRES_PASSWORD=пароль для пользователя базы данных
DB_PORT=порт для работы с базой данных
DB_HOST=хост

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

REDIS_BROKER_URL=redis://redis:6379/0
REDIS_RESULT_BACKEND=redis://redis:6379/0'

TELEGRAM_TOKEN=токен вашего телеграм бота для оповещения
